# Eurovision
*Problem Statement? Research Question?*

Datasets we have:
1. Contest Data
2. Contestants Data
3. Song Data 
4. Votes data
5. Betting Offices

In [ ]:
# Import the different libraries
import pandas as pd

## 1. Contest Data

Key stats about the Contest Data
1. Shape of df (14,7)
2. Year column 2009 - 2023. No year missing. 
3. 14 countries. 13 unique countries & 1 country >1 count

### Importing Data

In [3]:
contest_df_raw = pd.read_csv('/Users/aylaabdullah/Desktop/bootcamp/Final project local work/Alex_Ayla_Neringa/data/contest_data.csv')

### Basic df stats

In [15]:
contest_df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 7 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   year                             14 non-null     int64
 1   host                             14 non-null     object
 2   date                             14 non-null     object
 3   semi_countries                   14 non-null     int64
 4   final_countries                  14 non-null     int64
 5   jury_countries_voting_final      9 non-null      float64
 6   televote_countries_voting_final  9 non-null      float64
dtypes: float64(2), int64(3), object(2)
memory usage: 916.0+ bytes

In [17]:
contest_df_raw.shape

(14, 7)

In [32]:
contest_df_raw.describe()

,year,semi_countries,final_countries,jury_countries_voting_final,televote_countries_voting_final
count,14.000000,14.000000,14.000000,9.000000,9.000000
mean,2015.714286,34.642857,25.785714,39.777778,39.888889
std,4.496641,2.205139,0.578934,2.438123,2.472066
min,2009.000000,31.000000,25.000000,36.000000,35.000000
25%,2012.250000,33.000000,25.250000,38.000000,39.000000
50%,2015.500000,35.000000,26.000000,40.000000,40.000000
75%,2018.750000,36.000000,26.000000,42.000000,42.000000
max,2023.000000,38.000000,27.000000,43.000000,43.000000

In [33]:
contest_df_raw.describe(include='object')

          host        date
count       14          14
unique      13          14
top     Sweden  13/05/2023
freq         2           1

### Columns

In [9]:
contest_df_raw.dtypes

year                                 int64
host                                object
date                                object
semi_countries                       int64
final_countries                      int64
jury_countries_voting_final        float64
televote_countries_voting_final    float64
dtype: object

In [21]:
contest_df_raw

,year,host,date,semi_countries,final_countries,jury_countries_voting_final,televote_countries_voting_final
0,2023,United Kingdom,13/05/2023,31,26,37.0,38.0
1,2022,Italy,14/05/2022,35,25,40.0,40.0
2,2021,Netherlands,22/05/2021,33,26,39.0,39.0
3,2019,Israel,18/05/2019,35,26,41.0,41.0
4,2018,Portugal,12/05/2018,37,26,43.0,43.0
5,2017,Ukraine,13/05/2017,36,26,42.0,42.0
6,2016,Sweden,14/05/2016,36,26,42.0,42.0
7,2015,Austria,23/05/2015,33,27,38.0,39.0
8,2014,Denmark,10/05/2014,31,26,36.0,35.0
9,2013,Sweden,18/05/2013,33,26,NaN,NaN
10,2012,Azerbaijan,26/05/2012,36,26,NaN,NaN
11,2011,Germany,14/05/2011,38,25,NaN,NaN
12,2010,Norway,29/05/2010,34,25,NaN,NaN
13,2009,Russia,16/05/2009,37,25,NaN,NaN

#### Year info

In [27]:
print(f'Start year: {contest_df_raw['year'].min()}')
print(f'End year: {contest_df_raw['year'].max()}')
print(f'Years missing: {(2023-2009) - contest_df_raw['year'].nunique()}')
print(f'Column type: {contest_df_raw['year'].dtype}')

Start year: 2009
End year: 2023
Years missing: 0
Column type: int64

#### Host info

In [28]:
contest_df_raw['host']

0     United Kingdom
1              Italy
2        Netherlands
3             Israel
4           Portugal
5            Ukraine
6             Sweden
7            Austria
8            Denmark
9             Sweden
10        Azerbaijan
11           Germany
12            Norway
13            Russia
Name: host, dtype: object

In [45]:
print(f'List of countries and unique count: {contest_df_raw['host'].value_counts()}')
print(f'Number of countries appearing >1: {((contest_df_raw['host'].count())>1).sum()}')
print(f'Number of unique countries: {contest_df_raw['host'].nunique()}')

List of countries and unique count: host
Sweden            2
United Kingdom    1
Italy             1
Netherlands       1
Israel            1
Portugal          1
Ukraine           1
Austria           1
Denmark           1
Azerbaijan        1
Germany           1
Norway            1
Russia            1
Name: count, dtype: int64
Number of countries appearing >1: 1
Number of unique countries: 13

#### Date info:
_have to fix date column type_

#### semi_countries

#### final_countries

#### jury countries voting final

#### televote countries voting final

### Rows

In [13]:
contest_df_raw.index

RangeIndex(start=0, stop=14, step=1)

## 2. Contestants Data

## 3. Song Data

## 4. Votes Data

In [3]:
# Let's load values from the .env file
from dotenv import dotenv_values

config = dotenv_values()

# We also will need SQLAlchemy and its functions
from sqlalchemy import create_engine, types
from sqlalchemy.dialects.postgresql import JSON as postgres_json
from sqlalchemy import text # to be able to pass string

# Import necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# this so called "line magic" command, amongst other things, stores the plots in the notebook document.
%matplotlib inline

# warnings supression
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

# define variables for the login
pg_user = config['POSTGRES_USER']  # align the key label with your .env file !
pg_host = config['POSTGRES_HOST']
pg_port = config['POSTGRES_PORT']
pg_db = config['POSTGRES_DB']
pg_schema = config['POSTGRES_SCHEMA']
pg_pass = config['POSTGRES_PASS']

#SQL access details
url = f'postgresql://{pg_user}:{pg_pass}@{pg_host}:{pg_port}/{pg_db}'
engine = create_engine(url, echo=False)
engine.url # password is hidden
with engine.begin() as conn: 
    result = conn.execute(text(f'SET search_path TO {pg_schema};'))

In [4]:
with engine.begin() as conn: # Done with echo=False
    result = conn.execute(text(f'''
                               SELECT * FROM mart_relationship; 
                                '''))
    data = result.all()

### Let's create a dataframe out of that
df_votes = pd.DataFrame(data) 

with engine.begin() as conn: # Done with echo=False
    result = conn.execute(text(f'''
                               SELECT * FROM mart_reciprocity; 
                                '''))
    data = result.all()

### Let's create a dataframe out of that
df_reciprocity = pd.DataFrame(data) 

# fixing datatypes from SQL

df_votes['avg_point_ratio'] = df_votes['avg_point_ratio'].astype(float)
df_votes['point_ratio'] = df_votes['point_ratio'].astype(float)
df_reciprocity['original_ratio'] = df_reciprocity['original_ratio'].astype(float)
df_reciprocity['inverse_ratio'] = df_reciprocity['inverse_ratio'].astype(float)
df_reciprocity['year_reciprocity'] = df_reciprocity['year_reciprocity'].astype(float)
df_reciprocity['original_avg_ratio'] = df_reciprocity['original_avg_ratio'].astype(float)
df_reciprocity['inverse_avg_ratio'] = df_reciprocity['inverse_avg_ratio'].astype(float)
df_reciprocity['avg_reciprocity'] = df_reciprocity['avg_reciprocity'].astype(float)

In [15]:
df_votes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37506 entries, 0 to 37505
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   relationship     37506 non-null  object
 1   from_country     37506 non-null  object
 2   to_country       37506 non-null  object
 3   contest_year     37506 non-null  int64
 4   total_points     37506 non-null  int64
 5   point_ratio      37506 non-null  float64
 6   avg_point_ratio  37506 non-null  float64
dtypes: float64(2), int64(2), object(3)
memory usage: 2.0+ MB

 0   relationship     from country-to country   
 1   from_country     from country   
 2   to_country       to country   
 3   contest_year     competition year   
 4   total_points     total points awarded by from country to to country       
 5   point_ratio      total points/total possible points (i.e., <2016: 12, >=2016: 24)   
 6   avg_point_ratio  mean of the point ratio across all years for that relationship

In [17]:
df_votes.describe()

       contest_year  total_points   point_ratio  avg_point_ratio
count  37506.000000  37506.000000  37506.000000     37506.000000
mean    1999.595478      2.771077      0.194260         0.000453
std       17.229166      4.104957      0.280117         0.021285
min     1957.000000      0.000000      0.000000         0.000000
25%     1988.000000      0.000000      0.000000         0.000000
50%     2004.000000      0.000000      0.000000         0.000000
75%     2014.000000      5.000000      0.333333         0.000000
max     2023.000000     24.000000      1.000000         1.000000

In [16]:
df_reciprocity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30335 entries, 0 to 30334
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   contest_year           30335 non-null  int64
 1   original_relationship  30335 non-null  object
 2   inverse_relationship   30335 non-null  object
 3   original_ratio         30335 non-null  float64
 4   inverse_ratio          30335 non-null  float64
 5   year_reciprocity       30335 non-null  float64
 6   original_avg_ratio     30335 non-null  float64
 7   inverse_avg_ratio      30335 non-null  float64
 8   avg_reciprocity        30335 non-null  float64
dtypes: float64(6), int64(1), object(2)
memory usage: 2.1+ MB

 0   contest_year           competition year     
 1   original_relationship  from country-to country     
 2   inverse_relationship   to country-from country   
 3   original_ratio         total points/total possible points (i.e., <2016: 12, >=2016: 24) from from country to to country     
 4   inverse_ratio          total points/total possible points (i.e., <2016: 12, >=2016: 24) from to country to from country     
 5   year_reciprocity       original_ratio - inverse ration (value from -1 - 1)
 6   original_avg_ratio     mean of the original point ratio across all years for that relationship   
 7   inverse_avg_ratio      mean of the inverse point ratio across all years for that relationship   
 8   avg_reciprocity        mean of the year_reciprocity for that relationship across all years

In [18]:
df_reciprocity.describe()

,contest_year,original_ratio,inverse_ratio,year_reciprocity,original_avg_ratio,inverse_avg_ratio,avg_reciprocity
count,30335.000000,30335.000000,30335.000000,3.033500e+04,30335.000000,30335.000000,30335.000000
mean,1996.396506,0.195171,0.195171,2.049530e-19,0.194122,0.195171,-0.001049
std,17.497793,0.281058,0.281058,3.517737e-01,0.130190,0.281058,0.276702
min,1957.000000,0.000000,0.000000,-1.000000e+00,0.000000,0.000000,-1.000000
25%,1983.000000,0.000000,0.000000,-1.666667e-01,0.113095,0.000000,-0.133097
50%,1998.000000,0.000000,0.000000,0.000000e+00,0.180272,0.000000,0.076923
75%,2011.000000,0.333333,0.333333,1.666667e-01,0.249031,0.333333,0.186111
max,2023.000000,1.000000,1.000000,1.000000e+00,1.000000,1.000000,1.000000

## 5. Betting Offices